body {
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.appBar{
    display: flex;
    background-color: #B92DFF;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: whitesmoke;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.name-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: text-shadow 0.3s ease;
}

.page{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.page>a{
    text-decoration: none;
    color: whitesmoke;
    transition: text-shadow 0.3s ease;
}

.page>a:hover{
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
}

.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 2rem;
    padding: 3rem;
    color: #B92DFF;
    height: 60rem;
}

.container-presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 70%;
    max-height: 50%;
    background-color: whitesmoke;
    padding: 3rem;
    border: 0px solid;
    border-radius: 40px;
    transition: box-shadow 0.3s ease, transform 0.5s ease;
}

.container-presentation>p{
    font-size: 1.5rem;
    color: #B92DFF;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    /* max-width: 100%; */
}

.container-presentation:hover{
    transform: scale(1.1);
    box-shadow:0 0 7rem #B92DFF, 0 0 7rem #B92DFF, 0 0 7rem #B92DFF;
}

.footer-home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B92DFF;
    font-size: 1.5rem;
    color: whitesmoke;
    /* padding: 1rem; */
}
