<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="author-component.css">
    <title>Autores</title>
</head>
<body>
    <header class="appBar">
        <div class="name-blog">
            <span>BLOG DO ADS</span>
        </div>
        <nav class="page">
            <a href="../../../index.html">HOME</a>
            <a href="../publication/publication-component.html">PUBLICAÇÕES</a>
            <a href="../author/author-component.html">AUTORES</a>
        </nav>
    </header>
    <main>
        <div class="title"><h1>Autores</h1></div>
        <div class="perfil">
            <div class="perfil-img">
                <img src="https://avatars.githubusercontent.com/u/81271920?s=400&u=ce3d7d3cb8d3fc686d61896e03a10a63ddc2bbad&v=4" alt="">
                <h2>Nome</h2>
            </div>
            <div class="perfil-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus excepturi atque ipsam animi sint ipsum recusandae cupiditate numquam dolores, corporis aliquid odio earum, fugit iure odit, rerum quo accusantium nostrum?</p>
            </div>
            <div class="perfil-cont">
                <a href="https://github.com/KaioGabriel-the"><img class="img-cont" src="../../../assets/image.png" alt=""></a>
                <a href="https://www.linkedin.com/in/kaio-gabriel-de-sousa-carvalho/"><img class="img-cont" src="../../../assets/linkedin.png" alt=""></a>
            </div>
        </div>
        <div class="perfil">
            <div class="perfil-img">
                <img src="https://avatars.githubusercontent.com/u/157545821?s=400&u=1895270b3e396ac250372a61c4f4ec1c97cfde74&v=4" alt="Foto de Xamã Cardoso">
                <h2>Xamã Cardoso</h2>
            </div>
            <div class="perfil-desc">
                <p>19 anos, roqueiro e estudante do 3° período de Tecnologia em Análise e Desenvolvimento de Sistemas no Instituto Federal do Piauí (IFPI). Uma combinação insana que traz consigo um jovem apaixonado por tecnologia, jogos, guitarras e música (e mais guitarras!).</p>
            </div>
            <div class="perfil-cont">
                <a target="_blank" href="https://github.com/Xamacardoso"><img class="img-cont" src="../../../assets/image.png" alt=""></a>
                <a target="_blank" href="https://www.linkedin.com/in/xamacardoso"><img class="img-cont" src="../../../assets/linkedin.png" alt=""></a>
            </div>
        </div>
    </main>
    <footer class="footer-home">
        <p>Kaio Gabriel e Xamã pesadão</p>
    </footer>
</body>
</html