<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="publication-component.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>Publicações</title>
</head>
<body id="home">
    <header class="appBar">
        <div class="name-blog">
            <span>BLOG DO ADS</span>
        </div>
        <nav class="page">
            <a href="../../../index.html">HOME</a>
            <a href="#home">PUBLICAÇÕES</a>
            <a href="../author/author-component.html">AUTORES</a>
        </nav>
    </header>
    <main class="presentation">
        <article class="publication" id="simbolos">
            <h2>Aprendendo sobre símbolos e emojis divertidos</h2>
            <p class="pub-body">A primeira tag de uma página é a tag é a &lt;html&gt;</p>
            <p class="pub-body">Copyright: &copy;</p>
            <p class="pub-body">Euro: &euro;</p>
            <p class="pub-body">Iene japonês: &yen;</p>
            <p class="pub-body">Ômega: &Omega;</p>
            <p class="pub-body">Smiley: &#128516; &#128564;</p>
            <p class="date-author">2025-04-08 - Xamã & Kaio</p>
        </article>
        <article class="publication" id="ifpi">
            <h2>Sobre o IFPI</h2>
            <p class="pub-body">O Instituto Federal é a nossa instituição de ensino.</p>
            <p class="pub-body">Seguem abaixo o link para a página e logo abaixo a sua logomarca:</p>
            <img src="https://www.ifpi.edu.br/topo_ifpi.png" alt="Logomarca do IFPI">
            <p><a target="_blank" href="http://www.ifpi.edu.br">Página do IFPI</a></p>
            <p class="date-author">2025-04-08 - Xamã & Kaio</p>
        </article>
        <article class="publication" id="hello-world">
            <h2>Minha primeira postagem</h2>
            <p class="pub-body">Hello, HTML e CSS!</p>
            <p class="date-author">2025-04-08 - Xamã & Kaio</p>
        </article>
    </main>
    <footer class="footer-home">
        <p>Kaio Gabriel e Xamã pesadão</p>
    </footer>
</body>
</html>