h2 {
    text-align: center;
    width: 80%;
    margin: auto;
    border-bottom: 2px solid #B92DFF;
    /* border-bottom-width: 100%; */
    padding-bottom: 0.5rem;
}

a:link, a:visited {
    text-decoration: none;
}


.pub-body {
    font-size: 1.75rem;
    text-align: left;
    color: black;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 80%;
    max-width: 80%;
}

.presentation {
    height: fit-content; /* Ajusta a altura para o conteúdo, evitando overflow */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;
    overflow-y: visible;
}

.publication {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 70%;
    max-width: 70%;
    max-height: 50%;
    background-color: whitesmoke;
    padding: 2rem;
    border: 0px solid;
    border-radius: 40px;
    margin-top: 2rem;
    transition: box-shadow 0.3s ease, transform 0.5s ease;
}

.publication .date-author {
    color: #B92DFF;
    font-size: 1.25rem;
    font-style: italic;
    text-align: right;
    width: 80%;
    margin: auto;
}

/* Seção sobre cores */
.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.green-text {
    color: green;
}

.black-text {
    color: black;
}

.white-text {
    color: white;
}

.light-gray-text {
    color: lightgray;
}

.dark-gray-text {
    color: darkgray;
}

.orange-text{
    color: orange;
}

.pink-text{
    color: pink;
}

/* Seção sobre decorações de texto */

.bold-text {
    font-weight: bold;
}

.italic-text {
    font-style: italic;
}

.underlined-text {
    text-decoration: underline;
}

.line-through-text {
    text-decoration: line-through;
}

/* Seção sobre fontes */

.verdana-text {
    font-family: Verdana, sans-serif;
}

.calibri-text {
    font-family: Calibri, sans-serif;
}

.monospace-text {
    font-family: monospace, 'Courier New', Courier, sans-serif;
}

.arial-text {
    font-family: Arial, sans-serif;
}

/* Seção sobre alinhamentos de texto */

.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.justified-text {
    text-align: justify;
}