h2 {
    text-align: center;
    width: 80%;
    margin: auto;
    border-bottom: 2px solid #B92DFF;
    /* border-bottom-width: 100%; */
    padding-bottom: 0.5rem;
}

/* p {
    font-size: 1.75rem;
    text-align: left;
    color: black;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 80%;
    max-width: 80%;
} */

.pub-body {
    font-size: 1.75rem;
    text-align: left;
    color: black;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 80%;
    max-width: 80%;
}

.presentation {
    height: fit-content; /* Ajusta a altura para o conteúdo, evitando overflow */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;
    overflow-y: visible;
}

.publication {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 70%;
    max-width: 70%;
    max-height: 50%;
    background-color: whitesmoke;
    padding: 2rem;
    border: 0px solid;
    border-radius: 40px;
    margin-top: 2rem;
    transition: box-shadow 0.3s ease, transform 0.5s ease;
}

.publication .date-author {
    color: #B92DFF;
    font-size: 1.25rem;
    font-style: italic;
    text-align: right;
    width: 80%;
    margin: auto;
}

.vermelho {
    color: red;
}