<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="publication-component.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>Publicações</title>
</head>
<body id="home">
    <header class="appBar">
        <div class="name-blog">
            <div class="menu">
                <button onclick="abrirMenu()" class="botao-menu">☰</button>

                <div id="menuLateral" class="menu-lateral">
                    <button onclick="fecharMenu()" class="fechar">×</button>
                    <h2>Menu</h2>
                    <ul>
                    <li><a href="#" style="color: white;">Início</a></li>
                    <li><a href="#" style="color: white;">Sobre</a></li>
                    <li><a href="#" style="color: white;">Contato</a></li>
                    </ul>
                </div>
            </div>
            <span>BLOG DO ADS</span>
        </div>
        <nav class="page">
            <a href="../../../index.html">HOME</a>
            <a href="#home">PUBLICAÇÕES</a>
            <a href="../author/author-component.html">AUTORES</a>
        </nav>
    </header>
    <main class="presentation">
        <article class="publication" id="alignments">
            <h2>Alinhamentos</h2>
            <p class="pub-body left-text">Texto alinhado à esquerda</p>
            <p class="pub-body center-text">Texto Centralizado Texto</p>
            <p class="pub-body justified-text">Um pequeno texto injusto que foi justificado. Vejamos as injustiças desse texxto quando_colocado_dessa_maneira</p>
            <p class="pub-body right-text">Texto à direita</p>
            <p class="date-author">2025-04-08 - Xamã & Kaio <a href="#home">&nbsp;↑&nbsp;</a></p>
        </article>
        <article class="publication" id="fonts">
            <h2>Fontes</h2>
            <p class="pub-body verdana-text">Lorem ipsum - Verdana</p>
            <p class="pub-body arial-text">Lorem ipsum - Arial</p>
            <p class="pub-body monospace">Lorem ipsum - Monospace QQQ</p>
            <p class="pub-body calibri-text">Lorem ipsum - Calibri</p>
            <p class="date-author">2025-04-08 - Xamã & Kaio <a href="#home">&nbsp;↑&nbsp;</a></p>
        </article>
        <article class="publication" id="text-decors">
            <h2>Negrito, itálico, etc...</h2>
            <p class="pub-body bold-text">Negrito</p>
            <p class="pub-body italic-text">Itálico</p>
            <p class="pub-body underlined-text">Sublinhado</p>
            <p class="pub-body line-through-text">Tachado</h6>
            <p class="date-author">2025-04-08 - Xamã & Kaio <a href="#home">&nbsp;↑&nbsp;</a></p>
        </article>
        <article class="publication" id="colors">
            <h2>Estudando sobre cores</h2>
            <p class="pub-body red-text">Vermelha</p>
            <p class="pub-body blue-text">Azul</p>
            <p class="pub-body green-text">Verde de novo em um h6</p>
            <h6 class="pub-body green-text">Verde</h6>
            <p class="pub-body black-text">Preta</p>
            <p class="pub-body white-text">Branca</p>
            <p class="pub-body light-gray-text">Tom de cinza claro</p>
            <p class="pub-body dark-gray-text">Tom de cinza escuro</p>
            <p class="pub-body orange-text">Laranja</p>
            <p class="pub-body pink-text">Rosa</p>
            <p class="date-author">2025-04-08 - Xamã & Kaio <a href="#home">&nbsp;↑&nbsp;</a></p>
        </article>
        <article class="publication" id="symbols">
            <h2>Aprendendo sobre símbolos e emojis divertidos</h2>
            <p class="pub-body">A primeira tag de uma página é a tag é a &lt;html&gt;</p>
            <p class="pub-body">Copyright: &copy;</p>
            <p class="pub-body">Euro: &euro;</p>
            <p class="pub-body">Iene japonês: &yen;</p>
            <p class="pub-body">Ômega: &Omega;</p>
            <p class="pub-body">Smiley: &#128516; &#128564;</p>
            <p class="date-author">2025-04-08 - Xamã & Kaio <a href="#home">&nbsp;↑&nbsp;</a></p>
        </article>
        <article class="publication" id="ifpi">
            <h2>Sobre o IFPI</h2>
            <p class="pub-body">O Instituto Federal é a nossa instituição de ensino.</p>
            <p class="pub-body">Seguem abaixo o link para a página e logo abaixo a sua logomarca:</p>
            <img src="https://www.ifpi.edu.br/topo_ifpi.png" alt="Logomarca do IFPI">
            <p><a target="_blank" href="http://www.ifpi.edu.br">Página do IFPI</a></p>
            <p class="date-author">2025-04-08 - Xamã & Kaio <a href="#home">&nbsp;↑&nbsp;</a></p>
        </article>
        <article class="publication" id="hello-world">
            <h2>Minha primeira postagem</h2>
            <p class="pub-body">Hello, HTML e CSS!</p>
            <p class="date-author">2025-04-08 - Xamã & Kaio <a href="#home">&nbsp;↑&nbsp;</a></p>
        </article>
    </main>
    <footer class="footer-home">
        <p>&copy; 2025 Kaio Gabriel & Xamã Cardoso. Todos os direitos reservados.</p>
    </footer>
    <script>
        function abrirMenu() {
          document.getElementById("menuLateral").classList.add("ativo");
        }
    
        function fecharMenu() {
          document.getElementById("menuLateral").classList.remove("ativo");
        }
      </script>
</body>
</html>